#nav{
    width: 70%;
    height: 100%;
    background-color: #292e32;
    top: 0;
    right: -3000px;
    z-index: 1;
    align-items: center;
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);


}
#nav.change{
    right: 0px;
}



.burger-menu{
    width: 30px;
    height: 30px;
    top: 50px;
    right: 50px;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
}

.line{
    display: unset;
}
.change .line-1{
    transform: rotateZ(-45deg) translate(-8px , 6px);
}
.change .line-3{
    transform: rotateZ(45deg) translate(-8px , -6px)
}
.change .line-2{
    opacity: 0;
}
#home{
    width: 100%;
    height:100vh;
    background-image: url("images/background-phone.jpg");

}

.nav-container{
    width: 100%;
    height: 100%;
    padding: 10px 20px ;
    
    flex-direction: column;
    justify-content: space-around;
}

.logo{
    width: 70px;
    
}

.nav-container ul li{
    display:flex;
    flex-direction: column;
    font-size: 20px;
    
    margin: 2em 0px;
    text-align: center;
    
}
.home-container{
    width: 100%;
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}
.home-text{
    margin: unset;
    width: 100%;
    height: 100%;
    padding : 3em 1em;    
    
    

}
.home-text h1{
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
}
.home-text a{
    width: fit-content;
    height: fit-content;
}
.home-text .btn{
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    border:2px solid #fff;
    border-radius: 25px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.275s all;
    margin-top: 0.5em;


}
#about{
    width: 100%;
    background-color: #18181a;
    display: flex;
    flex-direction: column;
    padding: 1.25em;

}

.about-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #292e32;
    padding: 2em 2em;
}
.about-text2{
    margin-top: 2em;
    width: 100%;
    background-color: #d5d5d3;
    padding-bottom: 12px;
}

.about-2-top-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-2-top img{
    
    width: 100%;
    height: 100%;
    border-bottom: 2px solid transparent;
    border-right: 0;

}

.about-2-top p{
    margin-left:0;
    margin: 12px 10px;

    font-size: 16px;
    font-weight: bold;
}

.about-2-bottom{

    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-2-bottom img{
    width:100%;
    border-right: 0;
    border-bottom: 2px solid transparent;
}

#services{
    width: 100%;
    height: unset;
    background-image: url("images/services\ background\ phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em 0;

}

.services-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.s-left-side{
    width: 100%;
    height: 100%;
    padding: 1.5em;
}

.s-left-side .services-title{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    text-align: center;

}
.s-left-side .box{
    display: flex;
    margin: 1.5em 0;
    border-radius: 2px;
    overflow: hidden;
    align-items: center;

}
.s-right-side{
    width: 100%;
}
.s-right-side {
    padding-top:0em;
}
.s-right-side h6{
    color: #fff;
    font-size: 35px;
    text-align: center;
    margin-bottom: .5em;

}
.s-right-side p{
    width: 90%;
    color: rgba(255, 255, 255, 0.856);
    font-weight: 500;
    text-align: center;
    margin: auto;

}
